{% extends "base.html" %}

{% block title %}
CARNOSINE 卡喏仙 - 首页
{% endblock %}

{% block body %}
<div class="main">
  <img src="./static/images/1_1.jpg" />
  <img src="/static/images/1_2.jpg" />
  <img src="/static/images/1_3.jpg" />
  <img src="/static/images/1_4.jpg" />
  <img src="/static/images/1_5.jpg" />
  <img src="/static/images/1_6.jpg" />
  <img src="/static/images/1_7.jpg" />
  <img src="/static/images/1_8.jpg" />
  <img src="/static/images/1_9.jpg" />
  <img src="/static/images/1_10.jpg" />
</div>
<div class="main weixin-link">
  <div class="QR-code">
    <img src="/static/images/qr_code.png">
  </div>
  <h5>看大家都在说什么？</h5>
  <div class="entry-btn">
    <a href="" title=""><img src="/static/images/entry_btn.png" alt=""></a>
  </div>
</div>
{% endblock %}
